# Чтение и запись данных, часть 2

## Практическая работа

### Описание практической работы и формат сдачи

Выполните предложенные задачи: сохраните блокнот отдельно себе на диск и после этого пишите код в ячейках под задачами. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) загрузите в личный кабинет и отправьте на проверку.

### Задача 1

Используя сервис WeatherAPI, получите прогноз погоды в Лондоне на следующие 2 дня. Ответ преобразуйте к типу JSON.

In [ ]:
import urllib.request as req
import json
import pandas as pd
import psycopg2

# API_KEY = "cf16a409c8124de995f110254221609" - нерабочий API
API_KEY = "5eff49003b6447e6a29143652221707"
days = 2
url = f"http://api.weatherapi.com/v1/forecast.json?key={API_KEY}&q=London&days={days}"


with req.urlopen(url) as session:
  response = session.read().decode()

response

data = json.loads(response)
data

### Задача 2

Сохраните данные погоды, полученные в предыдущей задаче, в файл `weather.json`. При сохранении используйте четыре пробела для форматирования.

In [2]:
with open('weather.json', 'w') as file:
    json.dump(data, file, indent=4)

### Задача 3

Из содержимого файла `weather.json` получите **почасовой** прогноз погоды, загрузите его в DataFrame и выведите первые пять строк DataFrame на экран.

In [4]:
df = pd.read_json('weather.json')
df.head()

                               location current forecast
name                             London     NaN      NaN
region   City of London, Greater London     NaN      NaN
country                  United Kingdom     NaN      NaN
lat                               51.52     NaN      NaN
lon                               -0.11     NaN      NaN

### Задача 4

Сохраните DataFrame из предыдущей задачи в файл `result.csv`. В качестве названия столбца-индекса используйте `index`.

In [5]:
df.to_csv('result.csv', index_label='index')

### Задача 5

Загрузите содержимое SQL-таблицы `ratings` в DataFrame. Выведите первые пять строк DataFrame на экран. Для подключения к БД используйте строку подключения, указанную в следующей ячейке.

In [ ]:
import sqlalchemy

connection = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students' # не работает

engine = sqlalchemy.create_engine(connection) # создание отдельного подключения к БД
connect = engine.connect() # создаётся объект подключения к БД

inspector = sqlalchemy.inspect(engine) # анализ структуры БД
inspector.get_table_names()
df = pd.read_sql("select * from ratings", connect) # функция read_sql() принимает два аргумента 1 - запрос к БД, 2-й - объект подключения к БД (conntect)
df.head()

### Задача 6

Сохраните первые 10000 записей датафрейма из предыдущей задачи в файл `result2.xlsx`, при сохранении задайте листу имя `MySheet`.

(Примечание: для указания имени листа в файле Excel как при чтении, так и при записи используется параметр `sheet_name`)

In [ ]:
df.head(1000).to_excel('result2.xlsx', sheet_name='MySheet')
df.head()

### Задача 7

Определите количество документов в коллекции `users` в MongoDB. Если количество документов < 1000, то в следующей ячейке загрузите всё содержимое этой коллекции в список и выведите нулевой элемент этого списка на экран. Для подключения к MongoDB используйте строку подключения, указанную в следующей ячейке.

In [ ]:
import pymongo # не работает

conn = 'mongodb://students:X63673t47Gl03Sq@dsstudents.skillbox.ru:27017/?authSource=movies'

client = pymongo.MongoClient(conn)
db = client['users']

In [ ]:
db.list_collection_names()
users = db['users']
head = users.find().limit(1000)
my_list = list(head)

if users.find().count() < 1000:
  my_list[0]

### Задача 8

Преобразуйте список всех документов коллекции `users` из предыдущей задачи в pandas DataFrame и сохраните его содержимое в файл `result3.xlsx`.

In [ ]:
df = pd.DataFrame(my_list)
df.to_excel('result3.xlsx', sheet_name='Вот и всё')

## Дополнительные (необязательные) задачи

### Задача 9

Используя данные SQL-таблицы `ratings`, для каждого пользователя (столбец `userid`) определите средний рейтинг, который этот пользователь поставил фильмам. Результат выведите на экран.

Группировку проведите двумя способами: с помощью `GROUP BY` в строке запроса к БД и с использованием метода `groupby` в pandas.

Для подключения к БД используйте строку подключения в следующей ячейке

In [ ]:
import pandas as pd
import psycopg2
import sqlalchemy

conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()

# OperationalError: connection to server at "dsstudents.skillbox.ru" (91.236.196.30), port 5432 failed: FATAL: no pg_hba.conf entry for host "172.22.7.3", user "readonly", database "db_ds_students", no encryption

# To resolve this error, you need to add an appropriate entry to the pg_hba.conf configuration file on the PostgreSQL server. The entry should specify the following:

# Hostname or IP address of the client machine: 172.22.7.3
# Database name: db_ds_students
# Username: readonly
# Authentication method: md5
# Here's an example entry that would allow the "readonly" user to connect to the "db_ds_students" database from the "172.22.7.3" host using MD5 authentication:

# host    db_ds_students    readonly    172.22.7.3/32    md5
# After adding the entry, restart the PostgreSQL server to apply the changes.

# Once the changes are applied, the "readonly" user should be able to connect to the "db_ds_students" database from the "172.22.7.3" host without encountering the error.



df = pd.read_sql_query("SELECT * FROM ratings", connect)
df = df.groupby("userid")["rating"].mean()
df

### Задача 10

Объедините таблицы `ratings` и `keywords` по столбцам `movieid` (используйте левое объединение). Объединение проведите двумя способами: с помощью `LEFT JOIN` в строке запроса к БД и с использованием метода `merge` в pandas. Результат объединения загрузите в DataFrame и сохраните в файл `result4.csv`.

Обратите внимание, что при объединении возможно дублирование столбцов. В результирующем датафрейме не должно быть таких дублированных столбцов.

In [ ]:
import pandas as pd

conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

query = """
    SELECT
        *
    FROM
        ratings AS gotovo
    LEFT JOIN
        keywords AS vot_i_vse
    ON
        gotovo.movieid = vot_i_vse.movieid;
"""
result = pd.read_sql(query, con=conn)
result.to_csv('result4.csv', index=False)


ratings = pd.read_sql('ratings', con=conn)
keywords = pd.read_sql('keywords', con=conn)

result = ratings.merge(keywords, how='left', on='movieid')
result.to_csv('result4_1.csv', index=False)

### Задача 11

Используя объединенную таблицу из предыдущего задания, найдите все идентификаторы фильмов с тегом `africa` (но не `south africa` или любые другие). Список тегов в формате JSON записан в столбце `tags`.

In [ ]:
import json

# Получить данные из объединенной таблицы
df = pd.read_csv('result4.csv') # нет подключения к БД, нет файла и не понятно выполнится ли код корректно

# Преобразовать теги в список словарей
tags_list = df['tags'].apply(lambda x: json.loads(x))

# Отфильтровать фильмы с тегом africa (но не south africa или другие варианты)
filtered_df = df[tags_list.apply(lambda x: 'africa' in x and not any('south africa' in t for t in x))]

# Вывести идентификаторы фильмов
print(filtered_df['movieId'].tolist())